body{
  background-image: url("http://www.wallpapersonview.com/wallpapers/4/abstract_colorful_textures_widescreen_desktop_background_picture-248.jpg");
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  color: white;
}

#admin {
  float: right;
  height: 100%;
}

nav {
  background-color: grey;
  position: static;
  height: 5%;
  width: 100%;
}


.food-selected{
  background-color: lightgray;

}
.party-selected{
  background-color: orange;
}

.interface-list{
  color: white;
  border: 1px solid rgb(168, 166, 166);
  display: inline-block;
  width: 15%;
}
