body{
  background-image: url("http://www.wallpapersonview.com/wallpapers/4/abstract_colorful_textures_widescreen_desktop_background_picture-248.jpg");
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  color: white;
}

h2 {
  font-family: 'Lobster', cursive;
  color: white;
}

h3 {
  color: white;
}

nav {
  background-color: grey;
  position: static;
  height: 5%;
  width: 100%;

  font-size: 22px;
  text-align: -webkit-center;

}

#home {
  float: center;
  position: relative;
  margin-right: 25px;
  height: 100%;
  width: 10%;
  font-size: 75%;
}

#admin {
  float: center;
  position: relative;
  margin-right: 25px;
  height: 100%;
  width: 10%;
  font-size: 75%;
}

#chef {
  float: center;
  position: relative;
  margin-right: 20px;
  height: 100%;
  width: 10%;
  font-size: 75%;
}

#awards {
  float: center;
  position: relative;
  height: 100%;
  width: 10%;
  font-size: 75%;
}

.champ {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
}



.food-selected{
  background-color: lightgray;

}
.party-selected{
  background-color: orange;
}

li {
  border: 10px green;
}
.interface-list{
  color: white;
  border: 1px solid rgb(168, 166, 166);
  display: block;
  float: left;
  height: 1075px;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
}

#fine-print {
  color: white;
  margin-top:70%;
  clear: both;
}

/*
<480px (which applies to older, smaller smartphone screen sizes)

<768px, which is ideal for larger smartphones and smaller tablets

>768px, which applies for everything bigger such as large tablet screens and desktops screens.*/
