body{
  background-color: lightblue;
}

nav {
  background-color: red;
  position: absolute;
  width: 100%;
}


.food-selected{
  background-color: lightgray;
}
.party-selected{
  background-color: orange;
}

.interface-list{
  display: inline-block;
  border: 1px solid black;
}
