<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <h1>Welcome to the Guac Shop!</h1>
    <h2>We have the Guac to rocks your socks</h2>
    <h2>Award winning Guacamole!</h2>
      <nav>
        <button><a href="/">Click here if NON-Manager</a></button><button id='chef'><a href='/chef'>Chefs</a></button><button id='awards'><a href='/awards'>Awards</a></button>
      </nav>
    <h2>Managers Only Club</h2>



    <form action="/sessions" method="post">
      <input type="text" name="username" placeholder='...username'>
      <input type="text" name="password" placeholder='...password'>
      <input type="submit" value="Log-In">
    </form>

    <!-- <div id='fine-print'>Chips are extra</div> -->

  </body>
</html>
