<html>
  <head>
    <script type="text/template" id="click-template">
    <p><%%= message %></p>
    <p><button id="click-me"><%%= buttonMessage %></button></p>
  </script>

  <script type="text/template" id="form-template">
      <input type='text' id='name' placeholder='Enter a food name'>
      <input type='text' id='cents' placeholder='Enter cents'>
      <input type='text' id='cuisine' placeholder='Enter the cuisine'>
      <button id='submit'><%%= submitValue %></button>
  </script>


  <script type="text/template" id="click-comp-template">
  <p><%%= message %></p>
  <p><button id="click-me-comp"><%%= buttonMessage %></button></p>
</script>


  <script type="text/template" id="comp-template">
      <input type='text' id='food_name' placeholder='Enter a food name'>
      <input type='text' id='food_cents' placeholder='Enter cents'>
      <input type='text' id='food_free' placeholder='Enter comp'>
      <button id='submit_comp'><%%= submitValue %></button>
  </script>



    <title>RESTaurant</title>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <h1>Welcome to the Guac Shop!</h1>
    <h2>We have the Guac to rocks your socks</h2>
    <nav>
      GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC GUAC<button id='admin'><a href='/'>Home</a></button>
    </nav>

    <h3>Hello Manager</h3>



    <!-- ****** JS Libraries ****** -->
    <script src='/scripts/jquery.js'></script>
    <script src='/scripts/underscore.js'></script>
    <script src='/scripts/backbone.js'></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/scripts/models/FoodModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
      <script src='/scripts/collections/FoodCollection.js'></script>

    <!-- ****** Application ****** -->
    <script src='/scripts/adminApp.js'></script>
    <script src='/scripts/views/FormView.js'></script>


    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='log-out'>
    </form>



  </body>
</html>
