<html>
  <head>
    <title>Chef</title>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <h1>Welcome to the Guac Shop!</h1>
    <h2>We have the Guac to rocks your socks</h2>
    <h2>Award winning Guacamole!</h2>
      <nav>
        <button id='admin'><a href='/admin'>Admin</a></button><button id='chef'><a href='/chef'>Chefs</a></button><button id='awards'><a href='/awards'>Awards</a></button>
      </nav>
    Some sort of timer for the cooks
  </body>
</html>
