<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/style/main.css">

    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
Come to My RESTaurant because it is very good?
  </body>
</html>
