<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/style/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


  </head>
  <body>
  <h1>Welcome to the Guac Shop!</h1>
  <h2>We have the Guac to rocks your socks</h2>
  <h2>Award winning Guacamole!</h2>
    <nav>
      <button id='admin'><a href='/admin'>Admin</a></button><button id='chef'><a href='/chef'>Chefs</a></button><button id='awards'><a href='/awards'>Awards</a></button>
    </nav>
<!-- No Guac for you! -->


    <ul class='interface-list' id='menu-list'>FOOD
    </ul>
    <ul class='interface-list' id='party-list'>PARTY
    </ul>




   <button id='place-order'>Place Order</button>

   <!-- <div id='fine-print'>Chips are extra</div> -->


   <script type="text/javascript" src="/scripts/jquery.js"></script>
   <script type="text/javascript" src="/scripts/underscore.js"></script>
   <script type="text/javascript" src="/scripts/backbone.js"></script>
   <!-- ****** Backbone Models ****** -->
   <script src='/scripts/models/FoodModel.js'></script>
   <script src='/scripts/models/PartyModel.js'></script>

   <!-- ****** Backbone Collection ****** -->
   <script src='/scripts/collections/FoodCollection.js'></script>
   <script src='/scripts/collections/PartyCollection.js'></script>

   <!-- ****** Backbone Views ****** -->
   <script src='/scripts/views/FoodView.js'></script>
   <script src='/scripts/views/PartyView.js'></script>
   <script src='/scripts/views/GeneralListView.js'></script>
   <script src='/scripts/views/FormView.js'></script>

   <!-- ****** Application ****** -->
   <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
