<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/style/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


  </head>
  <body>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/underscore.js"></script>
  <script type="text/javascript" src="/scripts/backbone.js"></script>
  <!-- ****** Backbone Models ****** -->
  <script src='/scripts/models/FoodModel.js'></script>
  <script src='/scripts/models/PartyModel.js'></script>

  <!-- ****** Backbone Collection ****** -->
  <script src='/scripts/collections/FoodCollection.js'></script>
  <script src='/scripts/collections/PartyCollection.js'></script>

  <!-- ****** Backbone Views ****** -->
  <script src='/scripts/views/FoodView.js'></script>
  <script src='/scripts/views/PartyView.js'></script>
  <script src='/scripts/views/GeneralListView.js'></script>
  <script src='/scripts/views/FormView.js'></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
    <h1>Welcome to BFT's, where we got the goods for you.</h1>
    <nav>
      NAVIGATION BAR <button id='admin'><a href='/admin'>Admin</a></button>
    </nav>
Come to My RESTaurant because it is very good?


    <ul class='interface-list' id='menu-list'>FOOD
    </ul>
    <ul class='interface-list' id='party-list'>PARTY
    </ul>




   <button id='place-order'>Place Order</button>


</body>
</html>
